.top {
   margin-top: 40px;
 }




.img-wrap {
  padding: 10px;
}

.price {
  font-size: 2rem;
}

.gallery-wrap {
  .img-big-wrap {
    img {
      height: 250px;
      width: auto;
      padding: 15px;
      display: inline-block;
      cursor: unset;
    }
  }
}

.card-product-grid {
  .img-wrap {
    height: 184px;
  }
}